@import "tailwindcss";

:root {
  --background: oklch(0.18 0.03 266.64);
  --foreground: #ededed;
  --primary: oklch(0.6 0.22 279.78);
  --accent: oklch(0.86 0.2 159.25);
  --border: oklch(0.6 0.22 279.78 / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

@media (prefers-color-scheme: dark) {
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto), Helvetica, sans-serif;
  @apply text-lg bg-background text-foreground;
}

@utility primary-btn {
  @apply bg-primary rounded;
}
